# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Frontend Build
dist
dist-ssr
*.local

# Backend
obe-attain-api/dist/
obe-attain-api/uploads/
obe-attain-api/reports/
obe-attain-api/backups/
obe-attain-api/logs/

# Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
